!!! 5
html
  head
    title Organic-webcell-template
    meta(charset='utf-8')
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Maven+Pro:400,500,700')

    link(rel='stylesheet', href='/style.css')
    script(src="/js/jade.js")
    script(src="/code.js")
  body
    .version.span3.label.pull-right !{version}